:root {
    --scenePerspective: 1;
    --scenePerspectiveOriginX: 50;
    --scenePerspectiveOriginY: 50;
    --itemZ: 2;
    --cameraSpeed: 600;
    --cameraZ: 0;
    --viewportHeight: 0;
    --openingSceneHeight: 0;
  }
  
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}


.navbar {
  /* Hack around webflow - only on my page */
  position: relative;
  background-color: #111;
}

#opening-audio {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 1s linear;
}

.viewport {
  transition: opacity 1s ease;
}

@media screen and (max-height: 850px) {
  #mark-passage-4 {
    font-size: 65px;
    line-height: 70px;
  }
  .mark-7-text.w-richtext h1 {
    font-size: 65px;
    line-height: 70px;
  }
}

@media screen and (max-height: 800px) {
  #mark-passage-4 {
    font-size: 50px;
    line-height: 55px;
  }
  .mark-7-text.w-richtext h1 {
    font-size: 50px;
    line-height: 55px;
  }
}

@media screen and (max-height: 750px) {
  #mark-passage-4 {
    font-size: 40px;
    line-height: 45px;
  }
  .mark-7-text.w-richtext h1 {
    font-size: 40px;
    line-height: 45px;
  }
}

.main-scene {
  display: none;
  opacity: 0;
  /* visibility: hidden; */
  /* TODO: Probably should update this variable name */
  height: calc(var(--viewportHeight) * 1px);
}

.sin-wall {
    z-index: -1;
    /* mix-blend-mode: darken; */
}

.scene3d-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  perspective: calc(var(--scenePerspective) * var(--cameraSpeed) * 1px);
  perspective-origin: calc(var(--scenePerspectiveOriginX) * 1%)
    calc(var(--scenePerspectiveOriginY) * 1%);
  will-change: perspective-origin;
  transform: translate3d(0, 0, 0); /* Allow Hardware-Accelerated CSS */
  z-index: 1;
}

.scene3d {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  transform-style: preserve-3d;
  transform: translateZ(calc(var(--cameraZ) * 1px));
  will-change: transform;
}

.scene3d > div {
  position: absolute;
  display: block;
}

.user-instruction-text {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  opacity: 0%;
  transition: opacity 0.5s linear 0s;
  text-align: center;
}

.mouse-to-explore {
  bottom: 20%;
}

.scroll-to-move {
    bottom: 41%;
}

.click-select-card {
  bottom: 50%;
}

.sin-room-scroll-mouse-icon, .sin-room-move-mouse-icon {
  height: 20px;
  margin-bottom: 10px;
}

.sin-room-image {
  position: absolute;
  top: -2%;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 100%;
}

.sin-room-spotlight {
  background-image: radial-gradient(
      circle,
      transparent 0px,
      rgba(17, 17, 17, 1) 0px
  );
  /* Make everything zero because we don't want to actually show the circle yet */
}

.sin-wall {
  transition: opacity 5s linear 0s;
  opacity: 0;
}

.sin-wall-blanks {
  transition: opacity 5s linear 0s;
  opacity: 0;
}

.opening-mark-7-begin, .opening-mark-7-end {
  margin: auto;
  left: 0;
  right: 0;
}

.opening-mark-7-begin {
  top: 29%;
  /* top: 40%; */
  /* bottom: 0; */
  transition: top 0.7s linear 0s;
}

.opening-mark-7-begin > div {
  opacity: 0%;
  transition: opacity 0.4s linear;
}

.opening-mark-7-end {
  opacity: 0%;
  bottom: 25%;
  transition: opacity 2s linear;
}

.sin-room-card {
  /* transition: background-color 5s linear, background-image 5s linear; */
  opacity: 0%;
  background-color: rgba(17,17,17,1.0);
}

.sin-room-card:hover {
  cursor: pointer;
}

/* Top Left */
.sin-room-card:nth-of-type(8n + 1) {
  top: 0;
  left: 0;
}

/* Bottom  */
.sin-room-card:nth-of-type(8n + 2) {
  bottom: -15%;
  left: 25%;
}

/* Top Right */
.sin-room-card:nth-of-type(8n + 3) {
  top: 0;
  right: 0;
}

/* Left */
.sin-room-card:nth-of-type(8n + 4) {
  top: 20%;
  left: 0;
}

/* Bottom Right */
.sin-room-card:nth-of-type(8n + 5) {
  bottom: 0;
  right: 0;
}

/* Top */
.sin-room-card:nth-of-type(8n + 6) {
  top: -15%;
  left: 25%;
}

/* Bottom Left */
.sin-room-card:nth-of-type(8n + 7) {
  bottom: 0;
  left: 0;
}

/* Right */
.sin-room-card:nth-of-type(8n) {
  top: 20%;
  right: 0;
}

.sin-room-card-button {
  opacity: 0;
  transition: opacity 0.2s linear;
  /* border: 1px solid #FFB10C; */
  background-color: #FFB10C;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  z-index: 1;
  /* left: calc((510px / 2) - 20px - (10px)); */
  /* width of card / 2 - radius of circle - border */
  top: 75%;
  left: 50%;
  transform: translateX(-50%);
}

.sin-room-card-button:before,
.sin-room-card-button:after {
    content: '';
    position: absolute;
    top: 20%;
    left: 20%;
    right: 20%;
    bottom: 20%;
    background: white;
    transition: transform .4s ease-in-out;
}

.sin-room-card-button:before{
    width: 2px;
    margin: 2px auto;
}
.sin-room-card-button:after{
    margin: auto 2px;
    height: 2px;
}

.sin-room-card-button-clicked {
  opacity: 1;
  /* border-color: #FF4133; */
  background-color: #FF4133;
}

.sin-room-card-button-clicked:before,
.sin-room-card-button-clicked:after {
  /* background: #FF4133; */
  transform: rotate(45deg);
}


.og-card-parent, .new-card-parent {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(512px - 20px); 
  height: calc(352px - 20px);
  box-sizing: content-box;
  /* Card height and width are 160px bigger with 80px padding (set in Webflow) */
  /* Subtract 20 to account for the borders */
  border: 10px solid transparent;
  transition: border 0.4s linear;
  mix-blend-mode: darken;
}

.og-card-parent {
  z-index: 1; 
  /* filter: brightness(70%); */
  /* hack - you should reorder the html */
}

.new-card-parent {
  opacity: 100%;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.33);
  /* filter: brightness(20%); */
}

.sin-card-yellow-border {
  border: 10px solid #FFB10C;
}

.sin-card-red-border {
  border: 10px solid #FF4133;
}

.sin-word {
  opacity: 100%;
}

.outline-sin-word {
  top: 0px;
  margin-top: 35px;
  position: absolute;
  /* color: #4C4F5C !important; */
  /* -webkit-text-stroke: 2px #FF4133; */
  opacity: 100%;
  transition: color 0.4s ease-out;
}

.sin-sentence {
    padding: 0px 30px;
}


.sin-word-scene {
  transform: translateZ(calc(var(--cameraZ) * 0.3 * 1px));
}

.sin-word-scene > div {
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.final-scene-card {
  /* visibility: hidden; */
  /* transition: visibility 0.5s linear; */
  opacity: 0;
  margin: auto;
  left: 0;
  right: 0;
  top: 30%;
  bottom: 0;
}

.very-last-card {
  /* visibility: hidden; */
  /* transition: visibility 0.5s linear; */
  opacity: 0;
  margin: auto;
  left: 0;
  right: 0;
  top: 5%;
  bottom: 0;
}

.ending-sentence {
  opacity: 100%;
  padding: 0px 30px;
}

.ending-sin-cards-image {
  position: fixed;
  width: 200%;
  max-width: 200%; /* Override webflow */
  height: 175%;
  top: -45%;
  left: -50%;
  /* visibility: hidden; */
  opacity: 0;
  transition: opacity 0.5s ease-in 1s;
}

.show-50 {
  /* visibility: visible; */
  opacity: 50%;
}

.open-comments-btn-container {
  position: fixed;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease-in;
  transition-delay: 3s;
  z-index: 1;
}

.show {
  opacity: 100%;
  /* visibility: visible; */
}

.sin-room-comments-wrapper {
  display: none;
  /* height: 200vh; */
  /* display: block; */
  opacity: 0;
  /* height: 100vh; */
  position: relative;
  transition: opacity 1s ease-in;
  z-index: 0;
  
}

.sin-room-comments {
  padding: 0;
  max-width: 100%;
  /* color: #04091C;
  font-size: 21px;
  line-height: 120%; */
  transition: opacity 1s ease-out;
  padding-bottom: 100px;
}

.sin-room-comments-title {
  margin-top: 40px;
}

.sin-room-comment-item {
  padding: 20px;
  box-sizing: border-box;
  display: inline;
  width: 33.33%;
}

  .sin-room-comment-item .sin-room-comment-name {
  /* font-family: 'Patrick Hand', cursive;
  font-weight: 700;
  padding-bottom: 0; */
  padding-top: 12px;
  opacity: 50%;
}

.sin-room-comment-submission {
  position: fixed;
  bottom: 0;
  right: 120px;
  z-index: 1;
  /* Layer it above the footer */
  font-family: 'Open Sans';
  font-weight: 400;
  color: #A89D9C;
}

.sin-room-comment-submission-message {
  display: none;
  bottom: 36px;
}

.sin-room-comment-submission-container {
  width: 408px;
  height: 434px;
  padding: 24px;
}

.sin-room-comment-submission-container textarea {
  width: 100%;
  /* subtract padding */
  min-height: 315px;
  resize: none;
  margin-bottom: 18px;
  border-radius: 4px;
  padding: 10px;
}

.sin-room-comment-submission-container .input {
  display: inline-block;
  width: 232px;
  height: 53px;
  padding: 10px;
}

.sin-room-comment-submission-container .submit {
  float: right;
  width: 114px;
  height: 53px;
  padding-top: 14px;
  font-size: 21px;
  font-weight: 700;
  border: 2px solid #A89D9C;
  box-sizing: border-box;
  border-radius: 4px;
  /* color:#04091C; */
  color: #A89D9C;
  background-color: transparent;
}

.sin-room-comment-submission-container .submit:hover {
  cursor: default;
}

.sin-room-comment-submission-container .submit-allowed {
  color:#04091C;
}

.sin-room-comment-submission-container .submit-allowed:hover {
  cursor: pointer;
}

.comments-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
